:root {
    --imperial-red: #e63946ff;
    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
}

@font-face {
    font-family: 'Rubik One';
    src: url('fonts/rubikoneregular.woff2') format('woff2'), url('fonts/rubikoneregular.woff') format('woff'), url('fonts/rubikoneregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
}

header {
    height: 10vw;
    background-size: auto;
    background-position: center;
    background-color: var(--imperial-red);
    color: var(--prussian-blue);
    position: fixed;
    z-index: 2;
    width: 100%;
}

header .header_container {
    margin-left: 10%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

header #brand_name {
    flex:  2 1 auto;
    font-size: 2.8vw;
    font-family: "Rubik One", sans-serif;
}

#brand_name h1 {
    margin-top: 1vw;
}

header nav {
    flex:  1 2 auto;
    font-size: 1.5vw;
}

nav li {
    margin-left: 10px;
    display: inline-block;
    padding: 0 20px 0 20px;
    alignment: center;
    text-transform: uppercase;
}

nav li:hover {
    opacity: 80%;
}

.important {
    background-color: var(--celadon-blue);
    border-radius: 14px;
    color: var(--powder-blue);
    padding: 10px;
}

nav .not_important {
    opacity: 50%;
    color: var(--honeydew);
    font-size: 1.2vw;
    padding-top: 3px;
}

section h3 {
    width: 60vw;
    font-size: 3vw;
    font-family: "Rubik One", cursive;
    top: 10px;
    left: 50px;
    margin: 10vw auto 10px 40px;
    min-font-size: 600px;
}

footer {
    text-align: center;
    width: 100%;
    background-color: var(--imperial-red);
    border-top: var(--powder-blue) 5px solid;
    height: 30%;
    margin-bottom: 0;
    margin-top: 10px;
    vertical-align: middle;
    padding-top: 15px;
    clear: both;
}

footer a {
    text-decoration: none;
    color: var(--prussian-blue);
}

footer a:hover {
    opacity: 70%;
}

.mini_size {
    display: none;
}

.grid-container {
    float: left;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    width: 75%;
    margin-left: 10px;
    margin-bottom: 0;
    align-items: stretch;
}

main {
    background-image: url('images/waves.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.project_cell {
    flex: 1;
    background-color: var(--powder-blue);
    background-image: url("https://images.unsplash.com/photo-1631481784927-da978de9ddb7?ixid=MnwyNjIwNDh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzIxNjM5NDg&ixlib=rb-1.2.1");
    background-size: cover;
    border-radius: 20px;
    height: 300px;
    align-items: start;
    text-align: start;
    margin: 10px;
    min-width: 400px;
    font-size: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.project_cell:hover {
    box-shadow:0px 0px 26px 14px rgba(69,123,157,0.65);
    -webkit-box-shadow:0px 0px 26px 14px rgba(69,123,157,0.65);
    -moz-box-shadow:0px 0px 26px 14px rgba(69,123,157,0.65);
    font-size: 20px;
    transform: scale(1.05);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*.project_cell .bg {*/
/*    background-color: white;*/
/*    opacity: 50%;*/
/*    filter: blur(3px);*/
/*    border-radius: 20px;*/
/*    margin: 10px 60% 0 10px;*/
/*}*/

.project_cell h2 {
    margin: 10px 60% 0 10px;
    text-align: center;
    padding: 10px;
}

.add_cell {
    min-width: 400px;
    flex: 1;
    background-color: gray;
    opacity: 30%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 300px;
    float: left;
    width: 400px;
    display: flex;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.add_cell b {
    font-size: 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.add_cell b:hover {
    font-size: 100px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.add_cell:hover {
    opacity: 20%;
}

.quote {
    font-size: 2.7vw;
    color: var(--honeydew);
    background-color: var(--prussian-blue);
    border: var(--celadon-blue) 5px dashed;
    border-radius: 60px;
    padding: 5px 30px 5px 2px;
    width: 84%;
    alignment: center;
    text-align: center;
    margin: 0 5% 0 5%;
}

sup .emphasis {
    color: var(--imperial-red);
    font-size: 2vw;
    text-transform: uppercase;
}

aside {
    margin-right: 40px;
}

aside p {
    margin-left: 80%;
    padding-left: 10px;
    padding-right: 10px;
}

aside h3 {
    margin-left: 80%;
    text-align: center;
}

ol {
    margin-left: 4%;
    font-family: "Rubik One", sans-serif;
}

@media (max-width: 888px) {
    .grid-container {
        width: auto;
        margin: 40px;
    }

    .grid-container .project_cell, .grid-container .add_cell {
        margin: 20px;
    }

    aside {
        display: none;
    }

    .full_size {
        display: none;
    }

    .mini_size {
        display: contents;
    }
}

header, header nav, header #brand_name, .header_container {
    float: none;
    alignment: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

